// COLORS
$white: #ffffff;
$black: #111111;
$dark-grey: #333333;
$darker-grey: #222222;
$light-grey: #777777;
$lighter-grey: #999999;
$lightest-grey: #f8f8f8;
$border-grey: #858585;
$gold: #BEAD8E;
$light-red: #DE5777;