/* Error: There is no module with the namespace "mq".
 *     ,
 * 321 | /     @include mq.desktop {
 * 322 | |         display: flex;
 * 323 | |         flex-direction: row-reverse;
 * 324 | |         justify-content: space-evenly;
 * 325 | |         margin: 15rem 0 10rem 0;
 * 326 | |         // padding-left: 15%;
 * 327 | |         max-width: 70%;
 * 328 | |         margin: auto;
 * 329 | \     }
 *     '
 *   src\styles\styles.scss 321:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mq".\a     \2577 \a 321 \2502  \250c      @include mq.desktop {\a 322 \2502  \2502          display: flex;\a 323 \2502  \2502          flex-direction: row-reverse;\a 324 \2502  \2502          justify-content: space-evenly;\a 325 \2502  \2502          margin: 15rem 0 10rem 0;\a 326 \2502  \2502          // padding-left: 15%;\a 327 \2502  \2502          max-width: 70%;\a 328 \2502  \2502          margin: auto;\a 329 \2502  \2514      }\a     \2575 \a   src\\styles\\styles.scss 321:5  root stylesheet';
}
