html, * { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-size: 62.5%; // 62.5% is equal to 10px in most browsers, so it makes it easier to calculate REM units.
}

body { 
  min-width: 320px 
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$standard-tt-font: 'Old Standard TT', serif;
$archivo-font: 'Archivo', sans-serif;
$roboto-font: 'Roboto', sans-serif;

$white: #ffffff;
$black: #111111;
$dark-grey: #333333;
$darker-grey: #222222;
$light-grey: #777777;
$lighter-grey: #999999;
$lightest-grey: #f8f8f8;
$border-grey: #858585;
$gold: #BEAD8E;
$light-red: #DE5777;


// Styles for the header section
.nav {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    height: 7rem;
    background-color: $white;
    z-index: 99;
    position: fixed;
    width: 100%;

    &__container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        &__menu {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;

            &--burger {
                height: 2.5rem;
                width: 2.5rem;
            }

            &--logo {

                &--favicon {
                    position: relative;
                    height: 4rem;
                    width: 4rem;
                    box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);

                    & span {
                        text-decoration: none;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-family: $roboto-font;
                        font-weight: bold;
                        color: $black;
                        font-size: 2.4rem;
                    }
                }

                &--title {
                    height: 4rem;
                    width: 9rem;

                }
            }
        }

        &__functionalities {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;

            &--person {
                height: 2rem;
                width: 2rem;

            }

            &--search {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    &__menu {
        display: none;
        position: fixed;
        top: 7rem;
        bottom: 0;
        width: 100%;
        height: 17.5rem;
        left: 0;
        justify-content: center;
        flex-direction: column;
        gap: 2.4rem;
        padding: 0 5%;
        background-color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
        z-index: 80;

        &--closed {
            display: flex;
        }

        a {
            text-decoration: none;
            font-family: $archivo-font;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.7rem;
            color: $black;
        }
    }
}


// TAKE A TOUR SECTION STYLES
.tourSection {
    padding: 14rem 1rem 7.5rem 2rem;
    background-color: $dark-grey;

    &__container {
        display: flex;
        flex-direction: column;

        &--subtitleDesktop {
            display: none;
            font-family: $roboto-font;
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $white;
        }

        &--subtitle {
            width: 80%;
            font-family: $archivo-font;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 1.8rem;
            letter-spacing: 0.28rem;
            color: $white;
            padding-bottom: 4rem;
        }

        &--title {
            font-family: $standard-tt-font;
            font-style: normal;
            font-weight: 400;
            font-size: 5.6rem;
            line-height: 6rem;
            letter-spacing: -0.12rem;
            color: $white;
            padding-bottom: 4rem;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &--tour {
                border-style: none;
                height: 6rem;
                width: 22rem;
                padding: 2.1rem 4.5rem;
                background-color: $gold;
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.5rem;
                letter-spacing: 0.28rem;
                color: $white;
                cursor: pointer;
            }

            &--learn {
                border: 2px solid rgba(255, 255, 255, 0.33);
                height: 6rem;
                width: 22rem;
                padding: 2.1rem 4.5rem;
                background-color: $dark-grey;
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.5rem;
                letter-spacing: 0.28rem;
                color: $white;
                cursor: pointer;
            }
        }
    }
}


// AVAILABILITY SECTION STYLES
.availabilitySection {
    background-color: $darker-grey;
    padding: 3rem 2rem;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__arrival {
            gap: 1.5rem;

            &--text {
                font-family: $roboto-font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $white;
            }

            &--input {
                flex-direction: row-reverse;
                background-color: $darker-grey;
                border-style: none;
                padding-bottom: 1rem;
                border-bottom: 2px solid $gold;
                font-family: $roboto-font;
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: #686868;

                &::-webkit-calendar-picker-indicator {
                    height: 2rem;
                    width: 2rem;
                    filter: invert(0.5) sepia(1);
                }

            }
        }

        &__departure {
            gap: 1.5rem;

            &--text {
                font-family: $roboto-font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $white;
            }

            &--input {
                flex-direction: row-reverse;
                background-color: $darker-grey;
                border-style: none;
                padding-bottom: 1rem;
                border-bottom: 2px solid $gold;
                font-family: $roboto-font;
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: #686868;

                &::-webkit-calendar-picker-indicator {
                    height: 2rem;
                    width: 2rem;
                    filter: invert(0.5) sepia(1);
                }
            }
        }

        &__button {
            border-style: none;
            height: 6rem;
            width: fit-content;
            padding: 2.3rem 4.5rem;
            background-color: $gold;
            font-family: $archivo-font;
            font-style: normal;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.5rem;
            letter-spacing: 0.28rem;
            color: $white;
            cursor: pointer;
        }
    }

}



// ABOUT SECTION STYLES
.aboutSection {
    @include mq.desktop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 15rem 0 10rem 0;
        // padding-left: 15%;
        max-width: 70%;
        margin: auto;
    }

    &__info {
        background-color: #F9F9F9;

        &--subtitle {
            margin-top: 6rem;
            padding: 3rem 1rem 0 2rem;
            font-family: $archivo-font;
            font-style: normal;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 1.8rem;
            letter-spacing: 0.28rem;
            color: $light-grey
        }

        &--title {
            padding: 2.5rem 1rem 0 2rem;
            font-family: $standard-tt-font;
            font-style: normal;
            font-weight: 400;
            font-size: 5.6rem;
            line-height: 6rem;
            letter-spacing: -0.12rem;
            color: #111111;
        }

        &--paragraph {
            padding: 1.4rem 2rem 0 2rem;
            font-family: $archivo-font;
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: $light-grey;
        }

        &--button {
            margin: 1.4rem 2.2rem 17.5rem 2rem;
            border-style: none;
            height: 6rem;
            width: fit-content;
            padding: 2.3rem 5.6rem;
            background-color: $gold;
            font-family: $archivo-font;
            font-style: normal;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.5rem;
            letter-spacing: 0.28rem;
            color: $white;
            cursor: pointer;
        }
    }

    &__cards {

        &__team {
            position: relative;
            top: -5rem;
            width: 70%;
            margin: auto;

            &--img {
                width: 100%;
                height: 30rem;
                object-fit: cover;
            }

            &--container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: 30rem;
                box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
                text-align: center;

                &--icons {
                    height: fit-content;
                    padding-top: 5rem;

                    &--small {
                        width: 6.8rem;
                        height: 5rem;
                    }

                    &--big {
                        position: absolute;
                        left: 47%;
                        width: 14rem;
                        height: 10rem;
                        z-index: -1;
                    }
                }

                &--title {
                    padding-top: 3rem;
                    height: fit-content;
                    font-family: $standard-tt-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3rem;
                    line-height: 3rem;
                    letter-spacing: -0.09rem;
                    color: $black;
                }

                &--paragraph {
                    padding: 2rem 3.5rem 0 3.5rem;
                    height: fit-content;
                    font-family: $roboto-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    color: $black;
                }
            }
        }

        &__room {
            position: relative;
            width: 70%;
            margin: auto;
            top: -2rem;

            &--img {
                width: 100%;
                height: 30rem;
                object-fit: cover;
            }

            &--container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: 30rem;
                background-color: $darker-grey;
                text-align: center;

                &--icons {
                    height: fit-content;
                    padding-top: 5rem;

                    &--small {
                        width: 5.2rem;
                        height: 5rem;
                    }
                }

                &--title {
                    padding-top: 3rem;
                    height: fit-content;
                    font-family: $standard-tt-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3rem;
                    line-height: 3rem;
                    letter-spacing: -0.09rem;
                    color: $white;
                }

                &--paragraph {
                    padding: 2rem 3.5rem 0 3.5rem;
                    height: fit-content;
                    font-family: $roboto-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    color: $white;
                }
            }
        }
    }
}