@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.nav {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 7rem;
  background-color: white;
  z-index: 99;
  position: fixed;
  width: 100%;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__container__menu {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.nav__container__menu--burger {
  height: 2.5rem;
  width: 2.5rem;
}
.nav__container__menu--logo--favicon {
  position: relative;
  height: 4rem;
  width: 4rem;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.nav__container__menu--logo--favicon span {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2.4rem;
}
.nav__container__menu--logo--title {
  height: 4rem;
  width: 9rem;
}
.nav__container__functionalities {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.nav__container__functionalities--person {
  height: 2rem;
  width: 2rem;
}
.nav__container__functionalities--search {
  height: 2rem;
  width: 2rem;
}
.nav__menu {
  display: none;
  position: fixed;
  top: 7rem;
  bottom: 0;
  width: 100%;
  height: 17.5rem;
  left: 0;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 5%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  z-index: 80;
}
.nav__menu--closed {
  display: flex;
}
.nav__menu a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: black;
}

.tourSection {
  padding: 14rem 1rem 7.5rem 2rem;
  background-color: darkgrey;
}
.tourSection__container {
  display: flex;
  flex-direction: column;
}
.tourSection__container--subtitleDesktop {
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: white;
}
.tourSection__container--subtitle {
  width: 80%;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.28rem;
  color: white;
  padding-bottom: 4rem;
}
.tourSection__container--title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: white;
  padding-bottom: 4rem;
}
.tourSection__container__buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.tourSection__container__buttons--tour {
  border-style: none;
  height: 6rem;
  width: 22rem;
  padding: 2.1rem 4.5rem;
  background-color: goldenrod;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: white;
  cursor: pointer;
}
.tourSection__container__buttons--learn {
  border: 2px solid rgba(255, 255, 255, 0.33);
  height: 6rem;
  width: 22rem;
  padding: 2.1rem 4.5rem;
  background-color: darkgray;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: white;
  cursor: pointer;
}

.availabilitySection {
  background-color: darkgray;
  padding: 3rem 2rem;
}
.availabilitySection__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.availabilitySection__container__arrival {
  gap: 1.5rem;
}
.availabilitySection__container__arrival--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: white;
}
.availabilitySection__container__arrival--input {
  flex-direction: row-reverse;
  background-color: darkgray;
  border-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid goldenrod;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #686868;
}
.availabilitySection__container__arrival--input::-webkit-calendar-picker-indicator {
  height: 2rem;
  width: 2rem;
  filter: invert(0.5) sepia(1);
}
.availabilitySection__container__departure {
  gap: 1.5rem;
}
.availabilitySection__container__departure--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: white;
}
.availabilitySection__container__departure--input {
  flex-direction: row-reverse;
  background-color: darkgray;
  border-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid goldenrod;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #686868;
}
.availabilitySection__container__departure--input::-webkit-calendar-picker-indicator {
  height: 2rem;
  width: 2rem;
  filter: invert(0.5) sepia(1);
}
.availabilitySection__container__button {
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 4.5rem;
  background-color: goldenrod;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
