// ROOM SLIDER SECTION STYLES
.roomSlider {
    text-align: center;
    margin-top: 6rem;
    max-width: 100%;

    &__subtitle {
        font-family: $archivo-font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.5rem;
        letter-spacing: 0.28rem;
        color: $light-grey;
    }

    &__title {
        padding-top: 2rem;
        font-family: $standard-tt-font;
        font-style: normal;
        font-weight: 400;
        font-size: 5.6rem;
        line-height: 6rem;
        letter-spacing: -0.12rem;
        color: #222222;
    }

    &__slides,
    .swiper {
        position: relative;
        max-width: 100%;
        padding-top: 4.4rem;
        height: fit-content;

        &-button-prev,
        &-button-next {
            user-select: none;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 17rem;
            width: 3.2rem;
            height: 3.2rem;
            z-index: 99;
            background-color: $white;
            font-size: 1rem;
            color: $black;
            font-weight: 700;
            cursor: pointer;

            &:after {
                font-size: 1rem;
            }

            &:hover {
                background-color: $gold;
                color: $white;
            }
        }

        &-button-prev {
            left: 1rem;
            right: auto;
        }

        &-button-next {
            right: 1rem;
            left: auto;
        }

        &-slide-next {

            .roomSlider__slides--extras,
            .roomSlider__slides--title,
            .roomSlider__slides--description,
            .roomSlider__slides--price,
            .roomSlider__slides--price--perNight {
                opacity: 1;
            }
        }

        &--extras {
            position: absolute;
            width: 30rem;
            height: 8rem;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: -3.5rem;
            z-index: 10;
        }

        &--roomImg {
            width: 100%;
            height: 25rem;
            object-fit: cover;
            max-width: 100%;
        }

        &--title {
            position: relative;
            width: 90%;
            padding: 2rem 2rem 0 2rem;
            margin: auto;
            top: -2rem;
            background-color: $white;
            font-family: $standard-tt-font;
            font-style: normal;
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 3.6rem;
            letter-spacing: -0.12rem;
            color: #222222;
        }

        &--description {
            padding: 0 5rem 2rem 5rem;
            font-family: $roboto-font;
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: $light-grey;
        }

        &--price {
            padding: 0 5rem 2rem 5rem;
            font-family: $archivo-font;
            font-style: normal;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 4.3rem;
            color: $gold;

            &--perNight {
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}