@use "../abstracts/mediaQueries" as mq;

// BUTTONS STYLES
.btn {
    border-style: none;
    padding: 6rem;
    width: fit-content;
    padding: 2.3rem 5.6rem;
    background-color: $gold;
    font-family: $archivo-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 0.28rem;
    color: $white;
    cursor: pointer;
    transition: opacity 0.3s;
    transition: 0.5s;

    &:hover {
        //opacity: 0.8;
        background: rgba($color: #736956, $alpha: 1.0);
        transition: 0.5s;
    }

    &--large {
        border-style: none;
        padding: 2.3rem 4.5rem;

        @include mq.desktop {
            min-width: 25rem;
            margin-left: 15rem;
            padding: 2.3rem 2.4rem;
        }
    }

    &--light {
        width: 100%;
        font-weight: 400;
    }
}