@use "../abstracts/mediaQueries" as mq;

.footer {
    margin-top: 6rem;
    background-image: url('../../assets/imgs/footer-little.jpg');
    background-size: cover;
    background-repeat: repeat, no-repeat;

    @include mq.nonmobile {
        background-image: url('resources/assets/images/bgImgBig.svg');
    }

    &__container1 {
        width: 100%;
        padding: 3.2rem 2.2rem 3.2rem 2.2rem;

        @include mq.desktop {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 10rem 0;
        }

        &__subcontainer1 {
            display: flex;
            flex-direction: column;

            @include mq.desktop {
                max-width: 25%;
            }

            &__header {
                display: flex;
                flex-direction: row;
                align-items: center;

                & h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 8rem;
                    width: 8rem;
                    background-color: $gold;
                    font-family: $archivo-font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 4rem;
                    line-height: 4.3rem;
                    color: $white;
                }

                & img {
                    padding-left: 2.8rem;
                    height: 5.6rem;
                    width: 13.7rem;
                }
            }

            &__description {
                padding-top: 4.7rem;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: $light-grey;
            }

            &__icons {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                padding-top: 3.2rem;

                & svg {
                    padding: 0.8rem;
                    height: 4rem;
                    width: 4rem;
                    background-color: $lightest-grey;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $gold;

                        & path {
                            fill: $white;
                        }
                    }


                }

            }
        }

        &__subcontainer2 {
            padding-top: 3.2rem;

            &__title {
                font-family: $standard-tt-font;
                font-style: normal;
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 2.4rem;
                color: $darker-grey;
            }

            &__services {
                padding-top: 2.4rem;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                gap: 2rem;

                &__1 {
                    &--p {
                        font-family: $roboto-font;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 4.8rem;
                        color: $light-grey;
                    }
                }

                &__2 {
                    &--p {
                        font-family: $roboto-font;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 4.8rem;
                        color: $light-grey;
                    }
                }
            }
        }

        &__subcontainer3 {
            padding-top: 3.2rem;

            &__title {
                font-family: $standard-tt-font;
                font-style: normal;
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 2.4rem;
                color: $darker-grey;
            }

            &__contact {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                padding-top: 3.2rem;

                &__one {
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;

                    &__data {
                        &__title {
                            font-family: $standard-tt-font;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 2rem;
                            line-height: 2.4rem;
                            color: $darker-grey;
                        }

                        &__number {
                            font-family: $roboto-font;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.4rem;
                            line-height: 1.6rem;
                            color: $light-grey;
                        }
                    }
                }
            }
        }
    }

    &__container2 {
        width: 100%;
        height: 9.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding: 0 5% 0 5%;
        background-color: $lightest-grey;

        @include mq.desktop {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 8rem;
        }

        &__copyright {
            display: inline-block;
            font-family: $roboto-font;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.875rem;
            color: $black;
            text-decoration: none;
        }

        &__links a {
            text-decoration: none;
            font-family: $roboto-font;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.875rem;
            color: $black;

        }
    }

}