@use "../abstracts/mediaQueries" as mq;

// Styles for the header section
.nav {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    height: 7rem;
    background-color: $white;
    z-index: 99;
    position: fixed;
    width: 100%;

    @include mq.desktop {
        position: fixed;
        width: 70%;
        margin: 3rem 15% 0 15%;
    }

    &__container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        @include mq.desktop {
            width: 100%;
            padding-left: 0.7rem;
        }

        &__menu {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;

            @include mq.desktop {
                flex: 1;
            }

            &--burger {
                height: 2.5rem;
                width: 2.5rem;
                cursor: pointer;

                @include mq.desktop {
                    display: none;
                }
            }

            &--logo {

                @include mq.desktop {
                    align-items: center;
                }

                &--favicon {
                    position: relative;
                    height: 4rem;
                    width: 4rem;
                    box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);

                    @include mq.desktop {
                        height: 5rem;
                        width: 5rem;
                    }

                    & span {
                        text-decoration: none;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-family: $roboto-font;
                        font-weight: bold;
                        color: $black;
                        font-size: 2.4rem;
                    }
                }

                &--title {
                    height: 4rem;
                    width: 9rem;
                }
            }
        }

        &__functionalities {
            display: flex;
            justify-content: flex-start;
            gap: 2rem;

            @include mq.desktop {
                padding-right: 2rem;
            }

            &--person {
                height: 2rem;
                width: 2rem;

                @include mq.desktop {
                    height: 4rem;
                    width: 4rem;
                    padding: 1rem;
                    border: 2px solid rgba(133, 133, 133, 0.3);
                }

            }

            &--search {
                height: 2rem;
                width: 2rem;

                @include mq.desktop {
                    height: 4rem;
                    width: 4rem;
                    padding: 1rem;
                    border: 2px solid rgba(133, 133, 133, 0.3);
                }
            }
        }
    }

    &__menu {
        display: none;
        position: fixed;
        top: 7rem;
        bottom: 0;
        width: 100%;
        height: 20rem;
        left: 0;
        justify-content: center;
        flex-direction: column;
        gap: 2.4rem;
        padding: 0 5%;
        background-color: $white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
        z-index: 80;

        @include mq.desktop {
            position: relative;
            display: flex;
            top: 0;
            height: 7rem;
            padding: 0;
            padding-left: 5%;
            padding-right: 5%;
            justify-content: space-evenly;
            gap: 2.5rem;
            flex-direction: row;
            align-items: center;
            box-shadow: none;
        }

        &--closed {
            display: flex;
        }

        a {
            text-decoration: none;
            font-family: $archivo-font;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.7rem;
            color: $black;
            transition: all 0.3s;

            &:hover{
                color: $gold;
            }

            @include mq.desktop {
                width: fit-content;
            }
        }
    }
}