// OFFERS ROOM SECTION STYLES
.offerRoomSection {
    width: 100%;
    padding-top: 4.8rem;
    padding-bottom: 1rem;

    &__room {
        width: 90%;
        margin: auto;
        box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
        position: relative;
        margin-bottom: 3.2rem;

        &__priceContainer {
            position: absolute;
            padding-right: 1.5rem;
            top: 2.5rem;
            right: 0;
            width: 14.5rem;
            text-align: right;
            background-color: rgba(17, 17, 17, 0.5);

            &--gold {
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 700;
                font-size: 2.3rem;
                line-height: 2.5rem;
                color: $gold;
                text-decoration: line-through;
                display: inline-block;

            }

            &--perNightGold {
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 400;
                font-size: 1.3rem;
                line-height: 1.5rem;
                color: $gold;
                text-decoration: line-through;
                display: inline-block;
            }

            &--red {
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.3rem;
                color: #DE5777;
                display: inline-block;
            }

            &--perNightRed {
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.3rem;
                color: #DE5777;
                display: inline-block;
            }
        }

        &__img {
            width: 100%;
            min-height: 17rem;
            height: fit-content;
        }

        &__bigContainer {
            width: 90%;
            margin: auto;

            &__priceContainerDesktop {
                position: absolute;
                padding-right: 1.5rem;
                top: 10rem;
                right: 0;
                width: 14.5rem;
                text-align: right;
                background-color: rgba(17, 17, 17, 0.5);

                &--gold {
                    font-family: $archivo-font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 2.3rem;
                    line-height: 2.5rem;
                    color: $gold;
                    text-decoration: line-through;
                    display: inline-block;

                }

                &--perNightGold {
                    font-family: $archivo-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                    color: $gold;
                    text-decoration: line-through;
                    display: inline-block;
                }

                &--red {
                    font-family: $archivo-font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 3rem;
                    line-height: 3.3rem;
                    color: #DE5777;
                    display: inline-block;
                }

                &--perNightRed {
                    font-family: $archivo-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 2.3rem;
                    color: #DE5777;
                    display: inline-block;
                }
            }

            &__subtitle {
                padding-top: 1.6rem;
                font-family: $archivo-font;
                font-style: normal;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.5rem;
                letter-spacing: 0.28rem;
                color: $light-grey;
            }

            &__title {
                margin-top: 1.2rem;
                font-family: $standard-tt-font;
                font-style: normal;
                font-weight: 400;
                font-size: 4rem;
                line-height: 4.8rem;
                letter-spacing: -0.144rem;
                color: $darker-grey;
            }

            &__separation {
                width: 100%;
                height: 1px;
                background-color: #ECECEC;
                display: none;
            }

            &__smallContainer {
                padding-top: 1.6rem;

                &__description {
                    font-family: $roboto-font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    color: $light-grey;
                }

                &__amenitiesContainer {
                    padding-top: 2.4rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 1.7rem;

                    & div {
                        width: 40%;
                    }
                }

                & .btn {
                    margin-top: 2.5rem;
                    margin-bottom: 3.2rem;
                }
            }
        }
    }
}