html, * { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
  }
  
  html {
    font-size: 62.5%; // 62.5% is equal to 10px in most browsers, so it makes it easier to calculate REM units
  }
  
  body { 
    min-width: 320px 
  }