@import 'abstracts/variables';

@import 'base/reset';
@import 'base/typography';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/home/tour';
@import 'layout/home/availability';
@import 'layout/home/aboutUs';
@import 'layout/home/roomSlider';
@import 'layout/home/video';
@import 'layout/home/features';
@import 'layout/home/menu';
@import 'layout/home/stats';

@import 'layout/subheader';



html, * { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

html {
  font-size: 62.5%; // 62.5% is equal to 10px in most browsers, so it makes it easier to calculate REM units
}

body { 
  min-width: 320px 
}