@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'layout/header';
@import 'layout/footer';

@import 'layout/home/tour';
@import 'layout/home/availability';
@import 'layout/home/aboutUs';
@import 'layout/home/roomSlider';
@import 'layout/home/video';
@import 'layout/home/features';
@import 'layout/home/video';
@import 'layout/home/video';



html, * { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-size: 62.5%; // 62.5% is equal to 10px in most browsers, so it makes it easier to calculate REM units.
}

body { 
  min-width: 320px 
}