@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 7rem;
  background-color: #ffffff;
  z-index: 99;
  position: fixed;
  width: 100%;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__container__menu {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.nav__container__menu--burger {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.nav__container__menu--logo--favicon {
  position: relative;
  height: 4rem;
  width: 4rem;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.nav__container__menu--logo--favicon span {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #111111;
  font-size: 2.4rem;
}
.nav__container__menu--logo--title {
  height: 4rem;
  width: 9rem;
}
.nav__container__functionalities {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.nav__container__functionalities--person {
  height: 2rem;
  width: 2rem;
}
.nav__container__functionalities--search {
  height: 2rem;
  width: 2rem;
}
.nav__menu {
  display: none;
  position: fixed;
  top: 7rem;
  bottom: 0;
  width: 100%;
  height: 20rem;
  left: 0;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 5%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  z-index: 80;
}
.nav__menu--closed {
  display: flex;
}
.nav__menu a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: #111111;
}

.footer {
  margin-top: 6rem;
  background-image: url("../../assets/imgs/footer-little.jpg");
  background-size: cover;
  background-repeat: repeat, no-repeat;
}
.footer__container1 {
  width: 100%;
  padding: 3.2rem 2.2rem 3.2rem 2.2rem;
}
.footer__container1__subcontainer1 {
  display: flex;
  flex-direction: column;
}
.footer__container1__subcontainer1__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__container1__subcontainer1__header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 8rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.3rem;
  color: #ffffff;
}
.footer__container1__subcontainer1__header img {
  padding-left: 2.8rem;
  height: 5.6rem;
  width: 13.7rem;
}
.footer__container1__subcontainer1__description {
  padding-top: 4.7rem;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #777777;
}
.footer__container1__subcontainer1__icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 3.2rem;
}
.footer__container1__subcontainer1__icons svg {
  padding: 0.8rem;
  height: 4rem;
  width: 4rem;
  background-color: #f8f8f8;
}
.footer__container1__subcontainer1__icons svg:hover {
  background-color: #BEAD8E;
}
.footer__container1__subcontainer1__icons svg:hover path {
  fill: #ffffff;
}
.footer__container1__subcontainer2 {
  padding-top: 3.2rem;
}
.footer__container1__subcontainer2__title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #222222;
}
.footer__container1__subcontainer2__services {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}
.footer__container1__subcontainer2__services__1--p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4.8rem;
  color: #777777;
}
.footer__container1__subcontainer2__services__2--p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4.8rem;
  color: #777777;
}
.footer__container1__subcontainer3 {
  padding-top: 3.2rem;
}
.footer__container1__subcontainer3__title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #222222;
}
.footer__container1__subcontainer3__contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 3.2rem;
}
.footer__container1__subcontainer3__contact__one {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.footer__container1__subcontainer3__contact__one__data__title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #222222;
}
.footer__container1__subcontainer3__contact__one__data__number {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #777777;
}
.footer__container2 {
  width: 100%;
  height: 9.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 5% 0 5%;
  background-color: #f8f8f8;
}
.footer__container2__copyright {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.875rem;
  color: #111111;
  text-decoration: none;
}
.footer__container2__links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.875rem;
  color: #111111;
}

.subheaderSection {
  position: relative;
  background-color: #333333;
  max-width: 100%;
}
.subheaderSection__subtitle {
  padding: 14rem 0 0 2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
}
.subheaderSection__title {
  padding: 1.6rem 0 9.6rem 2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
}
.subheaderSection__navigation {
  padding: 1.6rem 1rem;
  position: absolute;
  right: 2rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 5rem;
  min-width: 16rem;
  width: fit-content;
  background-color: #ffffff;
}
.subheaderSection__navigation__page {
  padding: 0 1rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.7rem;
  letter-spacing: -0.048rem;
  color: #222222;
}
.subheaderSection__navigation__page--active {
  padding: 0 1rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.7rem;
  letter-spacing: -0.048rem;
  border-left: 2px solid #222222;
  color: #BEAD8E;
}

.btn {
  border-style: none;
  padding: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s;
  transition: 0.5s;
}
.btn:hover {
  background: #736956;
  transition: 0.5s;
}
.btn--large {
  border-style: none;
  padding: 2.3rem 4.5rem;
}
.btn--light {
  width: 100%;
  font-weight: 400;
}

.tourSection {
  padding: 14rem 1rem 7.5rem 2rem;
  background-color: #333333;
}
.tourSection__container {
  display: flex;
  flex-direction: column;
}
.tourSection__container--subtitleDesktop {
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.tourSection__container--subtitle {
  width: 80%;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  padding-bottom: 4rem;
}
.tourSection__container--title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
  padding-bottom: 4rem;
}
.tourSection__container__buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.tourSection__container__buttons--tour {
  border-style: none;
  height: 6rem;
  width: 22rem;
  padding: 2.1rem 4.5rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}
.tourSection__container__buttons--learn {
  border: 2px solid rgba(255, 255, 255, 0.33);
  height: 6rem;
  width: 22rem;
  padding: 2.1rem 4.5rem;
  background-color: #333333;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.availabilitySection {
  background-color: #222222;
  padding: 3rem 2rem;
}
.availabilitySection__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.availabilitySection__container__arrival {
  gap: 1.5rem;
}
.availabilitySection__container__arrival--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.availabilitySection__container__arrival--input {
  flex-direction: row-reverse;
  background-color: #222222;
  border-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid #BEAD8E;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #686868;
}
.availabilitySection__container__arrival--input::-webkit-calendar-picker-indicator {
  height: 2rem;
  width: 2rem;
  filter: invert(0.5) sepia(1);
}
.availabilitySection__container__departure {
  gap: 1.5rem;
}
.availabilitySection__container__departure--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.availabilitySection__container__departure--input {
  flex-direction: row-reverse;
  background-color: #222222;
  border-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid #BEAD8E;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #686868;
}
.availabilitySection__container__departure--input::-webkit-calendar-picker-indicator {
  height: 2rem;
  width: 2rem;
  filter: invert(0.5) sepia(1);
}
.availabilitySection__container__button {
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 4.5rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.aboutSection__info {
  background-color: #F9F9F9;
}
.aboutSection__info--subtitle {
  margin-top: 6rem;
  padding: 3rem 1rem 0 2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.aboutSection__info--title {
  padding: 2.5rem 1rem 0 2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #111111;
}
.aboutSection__info--paragraph {
  padding: 1.4rem 2rem 0 2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}
.aboutSection__info--button {
  margin: 1.4rem 2.2rem 17.5rem 2rem;
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}
.aboutSection__cards__team {
  position: relative;
  top: -12rem;
  width: 70%;
  margin: auto;
}
.aboutSection__cards__team--img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.aboutSection__cards__team--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 30rem;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  text-align: center;
}
.aboutSection__cards__team--container--icons {
  height: fit-content;
  padding-top: 5rem;
}
.aboutSection__cards__team--container--icons--small {
  width: 6.8rem;
  height: 5rem;
}
.aboutSection__cards__team--container--icons--big {
  position: absolute;
  left: 47%;
  width: 14rem;
  height: 10rem;
  z-index: -1;
}
.aboutSection__cards__team--container--title {
  padding-top: 3rem;
  height: fit-content;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.09rem;
  color: #111111;
}
.aboutSection__cards__team--container--paragraph {
  padding: 2rem 3.5rem 0 3.5rem;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #111111;
}
.aboutSection__cards__room {
  position: relative;
  width: 70%;
  margin: auto;
  top: -2rem;
}
.aboutSection__cards__room--img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.aboutSection__cards__room--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 30rem;
  background-color: #222222;
  text-align: center;
}
.aboutSection__cards__room--container--icons {
  height: fit-content;
  padding-top: 5rem;
}
.aboutSection__cards__room--container--icons--small {
  width: 5.2rem;
  height: 5rem;
}
.aboutSection__cards__room--container--title {
  padding-top: 3rem;
  height: fit-content;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.09rem;
  color: #ffffff;
}
.aboutSection__cards__room--container--paragraph {
  padding: 2rem 3.5rem 0 3.5rem;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #ffffff;
}

.roomSlider {
  text-align: center;
  margin-top: 6rem;
  max-width: 100%;
}
.roomSlider__subtitle {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.roomSlider__title {
  padding-top: 2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.roomSlider__slides,
.roomSlider .swiper {
  position: relative;
  max-width: 100%;
  padding-top: 4.4rem;
  height: fit-content;
}
.roomSlider__slides-button-prev, .roomSlider__slides-button-next,
.roomSlider .swiper-button-prev,
.roomSlider .swiper-button-next {
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17rem;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 99;
  background-color: #ffffff;
  font-size: 1rem;
  color: #111111;
  font-weight: 700;
  cursor: pointer;
}
.roomSlider__slides-button-prev:after, .roomSlider__slides-button-next:after,
.roomSlider .swiper-button-prev:after,
.roomSlider .swiper-button-next:after {
  font-size: 1rem;
}
.roomSlider__slides-button-prev:hover, .roomSlider__slides-button-next:hover,
.roomSlider .swiper-button-prev:hover,
.roomSlider .swiper-button-next:hover {
  background-color: #BEAD8E;
  color: #ffffff;
}
.roomSlider__slides-button-prev,
.roomSlider .swiper-button-prev {
  left: 1rem;
  right: auto;
}
.roomSlider__slides-button-next,
.roomSlider .swiper-button-next {
  right: 1rem;
  left: auto;
}
.roomSlider__slides-slide-next .roomSlider__slides--extras,
.roomSlider__slides-slide-next .roomSlider__slides--title,
.roomSlider__slides-slide-next .roomSlider__slides--description,
.roomSlider__slides-slide-next .roomSlider__slides--price,
.roomSlider__slides-slide-next .roomSlider__slides--price--perNight,
.roomSlider .swiper-slide-next .roomSlider__slides--extras,
.roomSlider .swiper-slide-next .roomSlider__slides--title,
.roomSlider .swiper-slide-next .roomSlider__slides--description,
.roomSlider .swiper-slide-next .roomSlider__slides--price,
.roomSlider .swiper-slide-next .roomSlider__slides--price--perNight {
  opacity: 1;
}
.roomSlider__slides--extras,
.roomSlider .swiper--extras {
  position: absolute;
  width: 30rem;
  height: 8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -3.5rem;
  z-index: 10;
}
.roomSlider__slides--roomImg,
.roomSlider .swiper--roomImg {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  max-width: 100%;
}
.roomSlider__slides--title,
.roomSlider .swiper--title {
  position: relative;
  width: 90%;
  padding: 2rem 2rem 0 2rem;
  margin: auto;
  top: -2rem;
  background-color: #ffffff;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.roomSlider__slides--description,
.roomSlider .swiper--description {
  padding: 0 5rem 2rem 5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}
.roomSlider__slides--price,
.roomSlider .swiper--price {
  padding: 0 5rem 2rem 5rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.3rem;
  color: #BEAD8E;
}
.roomSlider__slides--price--perNight,
.roomSlider .swiper--price--perNight {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.videoSection {
  background-color: #222222;
  height: fit-content;
}
.videoSection__subtitle {
  padding: 6.4rem 0 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #BEAD8E;
}
.videoSection__title {
  padding: 3.2rem 2rem 0 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
}
.videoSection__description {
  padding: 1.6rem 2rem 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #C2C2C2;
}
.videoSection__videoContainer {
  padding-top: 3.2rem;
  width: 90%;
  height: 27rem;
  margin: auto;
}
.videoSection__button {
  margin: 3.6rem 2.2rem 4.8rem 2rem;
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.featuresSection {
  margin-top: 6rem;
  max-width: 100%;
}
.featuresSection__subtitle {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.featuresSection__title {
  text-align: center;
  padding-top: 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.featuresSection__slides,
.featuresSection .swiperFeatures {
  position: relative;
  width: 100%;
  max-width: 50.5rem;
  margin: auto;
  padding-top: 3.2rem;
  height: fit-content;
  overflow: hidden;
}
.featuresSection__slides-pagination,
.featuresSection .swiperFeatures-pagination {
  display: flex;
  justify-content: center;
  height: 0.8rem;
  margin-top: 3.2rem;
  color: #BEAD8E;
}
.featuresSection__slides-pagination .swiper-pagination-bullet,
.featuresSection .swiperFeatures-pagination .swiper-pagination-bullet {
  background: #999999;
}
.featuresSection__slides-pagination .swiper-pagination-bullet-active,
.featuresSection .swiperFeatures-pagination .swiper-pagination-bullet-active {
  background: #BEAD8E;
}
.featuresSection__slides__container,
.featuresSection .swiperFeatures__container {
  position: relative;
  height: fit-content;
}
.featuresSection__slides__container--icon,
.featuresSection .swiperFeatures__container--icon {
  margin: 8rem 0 0 3.8rem;
}
.featuresSection__slides__container--number,
.featuresSection .swiperFeatures__container--number {
  position: absolute;
  top: 1rem;
  right: 3.8rem;
}
.featuresSection__slides--title,
.featuresSection .swiperFeatures--title {
  text-align: left;
  padding: 3.7rem 2rem 0 3.8rem;
  margin: auto;
  background-color: #ffffff;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.featuresSection__slides--description,
.featuresSection .swiperFeatures--description {
  text-align: left;
  padding: 2.8rem 5rem 0 3.8rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}

.menuSection {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding: 18rem 2rem 0 2rem;
}
.menuSection__icon {
  position: absolute;
  width: 11.4rem;
  height: 11.4rem;
  top: 7rem;
  right: -2.5rem;
}
.menuSection__subtitle {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.menuSection__title {
  padding-top: 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.menuSection__slides,
.menuSection .swiperMenu {
  position: relative;
  max-width: 100%;
  padding-top: 4.4rem;
  height: fit-content;
}
.menuSection__slides-button-prev, .menuSection__slides-button-next,
.menuSection .swiperMenu-button-prev,
.menuSection .swiperMenu-button-next {
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -3.4rem;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 99;
  background-color: #F8F8F8;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #111111;
  font-weight: 300;
  cursor: pointer;
}
.menuSection__slides-button-prev:after, .menuSection__slides-button-next:after,
.menuSection .swiperMenu-button-prev:after,
.menuSection .swiperMenu-button-next:after {
  font-size: 1rem;
}
.menuSection__slides-button-prev:hover, .menuSection__slides-button-next:hover,
.menuSection .swiperMenu-button-prev:hover,
.menuSection .swiperMenu-button-next:hover {
  background-color: #BEAD8E;
  color: #ffffff;
}
.menuSection__slides-button-prev,
.menuSection .swiperMenu-button-prev {
  right: 5rem;
}
.menuSection__slides-button-next,
.menuSection .swiperMenu-button-next {
  right: 0;
}
.menuSection__slides__part1, .menuSection__slides__part2, .menuSection__slides__part3,
.menuSection .swiperMenu__part1,
.menuSection .swiperMenu__part2,
.menuSection .swiperMenu__part3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}
.menuSection__slides__part1__container--icon, .menuSection__slides__part2__container--icon, .menuSection__slides__part3__container--icon,
.menuSection .swiperMenu__part1__container--icon,
.menuSection .swiperMenu__part2__container--icon,
.menuSection .swiperMenu__part3__container--icon {
  width: 12rem;
  height: 100%;
  object-fit: cover;
}
.menuSection__slides__part1__container2, .menuSection__slides__part2__container2, .menuSection__slides__part3__container2,
.menuSection .swiperMenu__part1__container2,
.menuSection .swiperMenu__part2__container2,
.menuSection .swiperMenu__part3__container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.menuSection__slides__part1__container2--title, .menuSection__slides__part2__container2--title, .menuSection__slides__part3__container2--title,
.menuSection .swiperMenu__part1__container2--title,
.menuSection .swiperMenu__part2__container2--title,
.menuSection .swiperMenu__part3__container2--title {
  padding-bottom: 1.2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: -0.072rem;
  color: #222222;
}
.menuSection__slides__part1__container2--description, .menuSection__slides__part2__container2--description, .menuSection__slides__part3__container2--description,
.menuSection .swiperMenu__part1__container2--description,
.menuSection .swiperMenu__part2__container2--description,
.menuSection .swiperMenu__part3__container2--description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}
.menuSection__slides__part1--arrow, .menuSection__slides__part2--arrow, .menuSection__slides__part3--arrow,
.menuSection .swiperMenu__part1--arrow,
.menuSection .swiperMenu__part2--arrow,
.menuSection .swiperMenu__part3--arrow {
  display: none;
  width: 3rem;
  height: 1.5rem;
  align-self: center;
  margin-right: 3rem;
  margin-left: 3rem;
}
.menuSection .swiperMenuImages {
  max-width: 100%;
  height: fit-content;
  padding-top: 12rem;
  text-align: center;
}
.menuSection .swiperMenuImages img {
  width: 33.5rem;
  height: 33.5rem;
  object-fit: cover;
}
.menuSection .swiperMenuImages-pagination {
  display: flex;
  justify-content: center;
  height: 0.8rem;
  margin-top: 3.2rem;
  color: #BEAD8E;
}
.menuSection .swiperMenuImages-pagination .swiper-pagination-bullet-active {
  background: #BEAD8E;
}
.menuSection__imagesDesktop {
  padding-top: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.menuSection__imagesDesktop img {
  height: 25%;
  width: 33%;
}

.statsSection {
  background-color: #222222;
  margin-top: 6rem;
}
.statsSection__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 4.8rem 0;
}
.statsSection__container__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statsSection__container__stat img {
  width: 8rem;
  height: 8rem;
}
.statsSection__container__stat__title {
  padding-top: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  color: #ffffff;
}
.statsSection__container__stat__title--span {
  font-weight: 400;
  font-size: 2rem;
}
.statsSection__container__stat__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  color: #999999;
}

.aboutVideoSection {
  padding: 6rem 0;
  max-width: 100%;
}
.aboutVideoSection__videoContainer {
  padding-top: 3.2rem;
  width: 90%;
  height: 27rem;
  margin: auto;
}
.aboutVideoSection__title {
  padding: 3.6rem 2rem 5rem 2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.116rem;
  color: #222222;
  text-align: center;
}
.aboutVideoSection__container {
  padding: 0 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.aboutVideoSection__container__service {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutVideoSection__container__service:hover {
  background-color: #BEAD8E;
}
.aboutVideoSection__container__service:hover .aboutVideoSection__container__service__title {
  color: #ffffff;
}
.aboutVideoSection__container__service:hover .aboutVideoSection__container__service__icon {
  filter: brightness(2);
}
.aboutVideoSection__container__service__icon {
  filter: invert(0.45) sepia(1);
}
.aboutVideoSection__container__service--hide {
  display: none;
}
.aboutVideoSection__container__service--hide:hover {
  background-color: #BEAD8E;
}
.aboutVideoSection__container__service--hide:hover .aboutVideoSection__container__service--hide__title {
  color: #ffffff;
}
.aboutVideoSection__container__service--hide:hover .aboutVideoSection__container__service--hide__icon {
  filter: brightness(2);
}
.aboutVideoSection__container__service--hide__icon {
  height: 5rem;
  width: 5rem;
  filter: invert(0.45) sepia(1);
}
.aboutVideoSection__container__service--hide__title {
  padding-top: 1.2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.24rem;
  color: #222222;
}
.aboutVideoSection__container__service__title {
  padding-top: 1.2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.24rem;
  color: #222222;
}

.restaurantSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  padding: 2rem;
  box-shadow: 0px 14px 24px rgba(184, 184, 184, 0.1);
}
.restaurantSection__img {
  width: 100%;
  min-height: 20.3rem;
}
.restaurantSection__container__subtitle {
  margin-top: 3.2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.restaurantSection__container__title {
  margin-top: 2.6rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.9rem;
  letter-spacing: -0.105rem;
  color: #111111;
}
.restaurantSection__container__description {
  margin-top: 2.6rem;
  margin-bottom: 1.6rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}

.dark {
  padding-top: 4.8rem;
  padding-bottom: 4.2rem;
  background-color: #222222;
}
.dark__subtitle, .dark__title {
  color: white;
}
.dark__swiper-slide {
  padding-bottom: 5rem;
  background-color: #292929;
}
.dark__slides--title {
  background-color: #292929;
  color: #ffffff;
}
.dark__slides--description {
  color: #ffffff;
}
.dark__slides--number {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12rem;
  line-height: 13rem;
  color: #222222;
}
.dark__container {
  width: 80%;
  margin: auto;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.dark__container__slides {
  flex-basis: 25%;
}
.dark__container__slides__container {
  position: relative;
  height: fit-content;
}
.dark__container__slides__container--icon {
  margin: 8rem 0 0 3.8rem;
}
.dark__container__slides__container--icon:hover {
  animation: logoAnimate 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes logoAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
.dark__container__slides--title {
  text-align: left;
  padding: 3.7rem 2rem 0 3.8rem;
  margin: auto;
  background-color: #ffffff;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.dark__container__slides--description {
  text-align: left;
  padding: 2.8rem 5rem 0 3.8rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}

.counterSection {
  padding: 6rem 2rem 0 2rem;
}
.counterSection__subtitle {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.counterSection__title {
  margin-top: 2.6rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.counterSection__container {
  padding-top: 6.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.counterSection__container__subContainer {
  justify-self: start;
}
.counterSection__container__subContainer__number {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -0.18rem;
  color: #222222;
}
.counterSection__container__subContainer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #777777;
}
.counterSection__container__arrow {
  justify-self: end;
}
.counterSection .swiperMenuImages {
  max-width: 100%;
  height: fit-content;
  padding-top: 5.2rem;
  text-align: center;
  overflow: hidden;
}
.counterSection .swiperMenuImages img {
  width: 33.5rem;
  height: 33.5rem;
  object-fit: cover;
}
.counterSection .swiperMenuImages-pagination {
  display: flex;
  justify-content: center;
  height: 0.8rem;
  margin-top: 3.2rem;
  color: #BEAD8E;
}
.counterSection .swiperMenuImages-pagination .swiper-pagination-bullet-active {
  background: #BEAD8E;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
