@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 7rem;
  background-color: #ffffff;
  z-index: 99;
  position: fixed;
  width: 100%;
}
.nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav__container__menu {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.nav__container__menu--burger {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.nav__container__menu--logo--favicon {
  position: relative;
  height: 4rem;
  width: 4rem;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.nav__container__menu--logo--favicon span {
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #111111;
  font-size: 2.4rem;
}
.nav__container__menu--logo--title {
  height: 4rem;
  width: 9rem;
}
.nav__container__functionalities {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.nav__container__functionalities--person {
  height: 2rem;
  width: 2rem;
}
.nav__container__functionalities--search {
  height: 2rem;
  width: 2rem;
}
.nav__menu {
  display: none;
  position: fixed;
  top: 7rem;
  bottom: 0;
  width: 100%;
  height: 20rem;
  left: 0;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 5%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  z-index: 80;
}
.nav__menu--closed {
  display: flex;
}
.nav__menu a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: #111111;
}

.tourSection {
  padding: 14rem 1rem 7.5rem 2rem;
  background-color: #333333;
}
.tourSection__container {
  display: flex;
  flex-direction: column;
}
.tourSection__container--subtitleDesktop {
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.tourSection__container--subtitle {
  width: 80%;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  padding-bottom: 4rem;
}
.tourSection__container--title {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
  padding-bottom: 4rem;
}
.tourSection__container__buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.tourSection__container__buttons--tour {
  border-style: none;
  height: 6rem;
  width: 22rem;
  padding: 2.1rem 4.5rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}
.tourSection__container__buttons--learn {
  border: 2px solid rgba(255, 255, 255, 0.33);
  height: 6rem;
  width: 22rem;
  padding: 2.1rem 4.5rem;
  background-color: #333333;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.availabilitySection {
  background-color: #222222;
  padding: 3rem 2rem;
}
.availabilitySection__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.availabilitySection__container__arrival {
  gap: 1.5rem;
}
.availabilitySection__container__arrival--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.availabilitySection__container__arrival--input {
  flex-direction: row-reverse;
  background-color: #222222;
  border-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid #BEAD8E;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #686868;
}
.availabilitySection__container__arrival--input::-webkit-calendar-picker-indicator {
  height: 2rem;
  width: 2rem;
  filter: invert(0.5) sepia(1);
}
.availabilitySection__container__departure {
  gap: 1.5rem;
}
.availabilitySection__container__departure--text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
}
.availabilitySection__container__departure--input {
  flex-direction: row-reverse;
  background-color: #222222;
  border-style: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid #BEAD8E;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #686868;
}
.availabilitySection__container__departure--input::-webkit-calendar-picker-indicator {
  height: 2rem;
  width: 2rem;
  filter: invert(0.5) sepia(1);
}
.availabilitySection__container__button {
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 4.5rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.aboutSection__info {
  background-color: #F9F9F9;
}
.aboutSection__info--subtitle {
  margin-top: 6rem;
  padding: 3rem 1rem 0 2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.aboutSection__info--title {
  padding: 2.5rem 1rem 0 2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #111111;
}
.aboutSection__info--paragraph {
  padding: 1.4rem 2rem 0 2rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}
.aboutSection__info--button {
  margin: 1.4rem 2.2rem 17.5rem 2rem;
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}
.aboutSection__cards__team {
  position: relative;
  top: -12rem;
  width: 70%;
  margin: auto;
}
.aboutSection__cards__team--img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.aboutSection__cards__team--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 30rem;
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
  text-align: center;
}
.aboutSection__cards__team--container--icons {
  height: fit-content;
  padding-top: 5rem;
}
.aboutSection__cards__team--container--icons--small {
  width: 6.8rem;
  height: 5rem;
}
.aboutSection__cards__team--container--icons--big {
  position: absolute;
  left: 47%;
  width: 14rem;
  height: 10rem;
  z-index: -1;
}
.aboutSection__cards__team--container--title {
  padding-top: 3rem;
  height: fit-content;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.09rem;
  color: #111111;
}
.aboutSection__cards__team--container--paragraph {
  padding: 2rem 3.5rem 0 3.5rem;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #111111;
}
.aboutSection__cards__room {
  position: relative;
  width: 70%;
  margin: auto;
  top: -2rem;
}
.aboutSection__cards__room--img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.aboutSection__cards__room--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 30rem;
  background-color: #222222;
  text-align: center;
}
.aboutSection__cards__room--container--icons {
  height: fit-content;
  padding-top: 5rem;
}
.aboutSection__cards__room--container--icons--small {
  width: 5.2rem;
  height: 5rem;
}
.aboutSection__cards__room--container--title {
  padding-top: 3rem;
  height: fit-content;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.09rem;
  color: #ffffff;
}
.aboutSection__cards__room--container--paragraph {
  padding: 2rem 3.5rem 0 3.5rem;
  height: fit-content;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #ffffff;
}

.roomSlider {
  text-align: center;
  margin-top: 6rem;
  max-width: 100%;
}
.roomSlider__subtitle {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.roomSlider__title {
  padding-top: 2rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.roomSlider__slides,
.roomSlider .swiper {
  position: relative;
  max-width: 100%;
  padding-top: 4.4rem;
  height: fit-content;
}
.roomSlider__slides-button-prev, .roomSlider__slides-button-next,
.roomSlider .swiper-button-prev,
.roomSlider .swiper-button-next {
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 17rem;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 99;
  background-color: #ffffff;
  font-size: 1rem;
  color: #111111;
  font-weight: 700;
  cursor: pointer;
}
.roomSlider__slides-button-prev:after, .roomSlider__slides-button-next:after,
.roomSlider .swiper-button-prev:after,
.roomSlider .swiper-button-next:after {
  font-size: 1rem;
}
.roomSlider__slides-button-prev:hover, .roomSlider__slides-button-next:hover,
.roomSlider .swiper-button-prev:hover,
.roomSlider .swiper-button-next:hover {
  background-color: #BEAD8E;
  color: #ffffff;
}
.roomSlider__slides-button-prev,
.roomSlider .swiper-button-prev {
  left: 1rem;
  right: auto;
}
.roomSlider__slides-button-next,
.roomSlider .swiper-button-next {
  right: 1rem;
  left: auto;
}
.roomSlider__slides-slide-next .roomSlider__slides--extras,
.roomSlider__slides-slide-next .roomSlider__slides--title,
.roomSlider__slides-slide-next .roomSlider__slides--description,
.roomSlider__slides-slide-next .roomSlider__slides--price,
.roomSlider__slides-slide-next .roomSlider__slides--price--perNight,
.roomSlider .swiper-slide-next .roomSlider__slides--extras,
.roomSlider .swiper-slide-next .roomSlider__slides--title,
.roomSlider .swiper-slide-next .roomSlider__slides--description,
.roomSlider .swiper-slide-next .roomSlider__slides--price,
.roomSlider .swiper-slide-next .roomSlider__slides--price--perNight {
  opacity: 1;
}
.roomSlider__slides--extras,
.roomSlider .swiper--extras {
  position: absolute;
  width: 30rem;
  height: 8rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -3.5rem;
  z-index: 10;
}
.roomSlider__slides--roomImg,
.roomSlider .swiper--roomImg {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  max-width: 100%;
}
.roomSlider__slides--title,
.roomSlider .swiper--title {
  position: relative;
  width: 90%;
  padding: 2rem 2rem 0 2rem;
  margin: auto;
  top: -2rem;
  background-color: #ffffff;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.roomSlider__slides--description,
.roomSlider .swiper--description {
  padding: 0 5rem 2rem 5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}
.roomSlider__slides--price,
.roomSlider .swiper--price {
  padding: 0 5rem 2rem 5rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.3rem;
  color: #BEAD8E;
}
.roomSlider__slides--price--perNight,
.roomSlider .swiper--price--perNight {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.videoSection {
  background-color: #222222;
  height: fit-content;
}
.videoSection__subtitle {
  padding: 6.4rem 0 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #BEAD8E;
}
.videoSection__title {
  padding: 3.2rem 2rem 0 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
}
.videoSection__description {
  padding: 1.6rem 2rem 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #C2C2C2;
}
.videoSection__videoContainer {
  padding-top: 3.2rem;
  width: 90%;
  height: 27rem;
  margin: auto;
}
.videoSection__button {
  margin: 3.6rem 2.2rem 4.8rem 2rem;
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.featuresSection {
  margin-top: 6rem;
  max-width: 100%;
}
.featuresSection__subtitle {
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #777777;
}
.featuresSection__title {
  text-align: center;
  padding-top: 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.featuresSection__slides,
.featuresSection .swiperFeatures {
  position: relative;
  width: 100%;
  max-width: 50.5rem;
  margin: auto;
  padding-top: 3.2rem;
  height: fit-content;
  overflow: hidden;
}
.featuresSection__slides-pagination,
.featuresSection .swiperFeatures-pagination {
  display: flex;
  justify-content: center;
  height: 0.8rem;
  margin-top: 3.2rem;
  color: #BEAD8E;
}
.featuresSection__slides-pagination .swiper-pagination-bullet-active,
.featuresSection .swiperFeatures-pagination .swiper-pagination-bullet-active {
  background: #BEAD8E;
}
.featuresSection__slides__container,
.featuresSection .swiperFeatures__container {
  position: relative;
  height: fit-content;
}
.featuresSection__slides__container--icon,
.featuresSection .swiperFeatures__container--icon {
  margin: 8rem 0 0 3.8rem;
}
.featuresSection__slides__container--number,
.featuresSection .swiperFeatures__container--number {
  position: absolute;
  top: 1rem;
  right: 3.8rem;
}
.featuresSection__slides--title,
.featuresSection .swiperFeatures--title {
  text-align: left;
  padding: 3.7rem 2rem 0 3.8rem;
  margin: auto;
  background-color: #ffffff;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.12rem;
  color: #222222;
}
.featuresSection__slides--description,
.featuresSection .swiperFeatures--description {
  text-align: left;
  padding: 2.8rem 5rem 0 3.8rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777777;
}

.videoSection {
  background-color: #222222;
  height: fit-content;
}
.videoSection__subtitle {
  padding: 6.4rem 0 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #BEAD8E;
}
.videoSection__title {
  padding: 3.2rem 2rem 0 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
}
.videoSection__description {
  padding: 1.6rem 2rem 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #C2C2C2;
}
.videoSection__videoContainer {
  padding-top: 3.2rem;
  width: 90%;
  height: 27rem;
  margin: auto;
}
.videoSection__button {
  margin: 3.6rem 2.2rem 4.8rem 2rem;
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

.videoSection {
  background-color: #222222;
  height: fit-content;
}
.videoSection__subtitle {
  padding: 6.4rem 0 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #BEAD8E;
}
.videoSection__title {
  padding: 3.2rem 2rem 0 2.4rem;
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6rem;
  letter-spacing: -0.12rem;
  color: #ffffff;
}
.videoSection__description {
  padding: 1.6rem 2rem 0 2.4rem;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #C2C2C2;
}
.videoSection__videoContainer {
  padding-top: 3.2rem;
  width: 90%;
  height: 27rem;
  margin: auto;
}
.videoSection__button {
  margin: 3.6rem 2.2rem 4.8rem 2rem;
  border-style: none;
  height: 6rem;
  width: fit-content;
  padding: 2.3rem 5.6rem;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: 0.28rem;
  color: #ffffff;
  cursor: pointer;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
